body {
  margin: 0;
  background-color: #282c34;
  color: #61dafb;
  font-weight: 600;
  margin: 40px auto;
  width: 70%;
  font-family: 'Courier Prime', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
button{
  font-family: monospace;
}
.git_link{
  color: grey;
  font-size: 13px;
}